<p class="" id="app_configuration_for_gift_amount_field">
       <label for="app_configuration_for_gift_amount">Dopłata za prezent: </label><br>
       <input class="input_string" id="app_configuration_for_gift_amount" name="conf[for_gift_amount]" size="10" type="text" value="<%= Spree::Config[:for_gift_amount] %>">   
</p>